<script>
    var icon = document.getElementById("icon");

    if (document.documentElement.classList.contains("dark") || localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        icon.classList.remove("icon-moon-foggy-line");
        icon.classList.add("icon-sun-foggy-line");

        document.documentElement.classList.add('dark')
    } else {
        document.documentElement.classList.remove('dark')
    }
    function toggleDarkMode() {
        if (document.documentElement.classList.contains('dark')) {
            icon.classList.remove("icon-sun-foggy-line");
            icon.classList.add("icon-moon-foggy-line");

            document.documentElement.classList.remove('dark')
            localStorage.theme = 'light'
        } else {
            icon.classList.remove("icon-moon-foggy-line");
            icon.classList.add("icon-sun-foggy-line");

            document.documentElement.classList.add('dark')
            localStorage.theme = 'dark'
        }
    }
</script>
<script>
    if('serviceWorker' in navigator) {
        const PREFETCH = true;
        const PREFETCH_LINK_RELS = ['index','next', 'prev', 'prefetch'];
        function prefetchCache() {
            if(navigator.serviceWorker.controller) {
                let links = document.querySelectorAll(
                    PREFETCH_LINK_RELS.map((rel) => {
                        return 'link[rel='+rel+']';
                    }).join(',')
                );
                if(links.length > 0) {
                    Array.from(links)
                        .map((link) => {
                            let href = link.getAttribute('href');
                            navigator.serviceWorker.controller.postMessage({
                                action : 'cache',
                                url : href,
                            });
                        });
                }
            }
        }
    
        navigator.serviceWorker
            .register('/sw.js', { scope: '/' })
            .then(() => {
                console.log('Service Worker Registered');
            });
    
        navigator.serviceWorker
            .ready
            .then(() => {
                if(PREFETCH) {
                    prefetchCache();
                }
            });
    }
</script>