<div class="flex bg-white dark:bg-slate-800 transform flex-col overflow-hidden rounded-lg shadow-lg transition-all duration-300 hover:-translate-y-2 hover:shadow-lg">
    {{ if .Params.thumbnail }}
    <a href="{{ .Permalink }}">
        <img class="w-full h-auto" src="{{ .Params.thumbnail | absURL }}" alt="{{ .Params.altimg }}" />
    </a>
    {{ end }}
    <div class="mb-auto p-5 sm:px-4 sm:py-2 md:px-6 md:py-4">
        <div class="mb-0 sm:mb-2 md:mb-3"><a href="#" class="text-xs transition duration-500 ease-in-out"> 
            {{ partial "component/tags.html" . }} 
        </a></div>
        <a href="{{ .Permalink }}" class="mb-2 inline-block text-lg font-medium transition duration-500 ease-in-out text-limit-1-line">
            <h3>{{ .Params.title }}</h3>
        </a>
        <p class="text-sm truncate">{{ .Params.description }}</p>
        <div class="mt-3">{{ partial "component/authors/byAuthors.html" . }}</div>
    </div>
</div>