{{ define "main" }}
<p class="text-base font-bold">{{ .Params.subtitle1 }}</p>
<h1 class="text-2xl md:text-3xl font-bold mb-2">{{ .Title }}</h1>
<p class="text-lg">{{ .Params.subtitle2 }}</p>
<div class=" bg-slate-50 dark:bg-slate-900 mt-10">
  <div class="mx-auto">
    {{ $paginator := .Paginate (where (where .Site.RegularPages "Type" "post") ".Params.unlisted" "!=" "true").ByDate.Reverse }}
    <div class="lg:grid hidden grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 mb-8">
      {{ range $paginator.Pages }}
      {{- partial "component/card/blogCard.html" . -}}
      {{ end }}
    </div>
    <div class="lg:hidden">
      {{ range $paginator.Pages }}
      {{- partial "component/card/blogList.html" . -}}
      {{ end }}
    </div>
    {{- partial "component/pagination.html" . -}}
  </div>
</div>
{{ end }}