<div class="dropdown dropdown-end">
  <label tabindex="0" class="relative inline-flex btn btn-square btn-ghost btn-circle">
    <i class="c-icon icon-notification-3-line"></i>
    <span class="flex absolute h-3 w-3 top-0 right-0 mr-[3px] mt-[4px]">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
      <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
    </span>
  </label>
  <ul tabindex="0" class="menu shadow-lg bg-base-100 dropdown-content mt-3 w-72 bg-slate-50 text-slate-800 bg_slate_50 text_slate_800">
    <p class="py-3 px-2 text-center bg-slate-700 text-slate-200 font-bold">{{ .Site.Params.notifTitle }}</p>
    <li><a class="justify-between btn-ghost"> {{ .Site.Params.pushNotif1 }} <span class="badge">{{ .Site.Params.notifBadge }}</span> </a></li>
    <li><a class="btn-ghost">{{ .Site.Params.pushNotif2 }}</a></li>
    <li><a class="btn-ghost">{{ .Site.Params.pushNotif3 }}</a></li>
    <li><a class="btn-ghost">{{ .Site.Params.pushNotif4 }}</a></li>
    <li><a class="btn-ghost">{{ .Site.Params.pushNotif5 }}</a></li>
  </ul>
</div>